body {
  font-size: 18px;
  font-family: sans-serif;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}

section {
    clear: both;
}
h1 {
    font-size: 36px;
    font-family: 'Abril Fatface', cursive;
    border-bottom: 3px solid #DD0000;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    color: #444444;

}

p {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
}

img {
    max-width: 100%;
}

img.left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

img.right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

img.center {
    display: block;
    margin: 0 auto;
}
